body {
    margin: 0;
}

.topnav {
    width: 100%;
    position:fixed;
    background-color: darkslategrey;
    color:lightgreen;
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
}

.navList {
    list-style-type: none;
    display:flex;
    justify-content:flex-end;
    margin: 0;
}

.navItem {
    padding: 15px;
}