@import '../assets/colors';

.membersbody {
    font-family: sans-serif;
        
    h1, h2 { 
        color: rgb(97, 135, 216);
    }

    header {
        color: #C5DEEA;
    }

    main {
        margin-left: 250px;
    }

}