@import 'colors';
@import 'layout';

button {
    %cookingbutton {
        margin: 4px;
        padding: 5px;
        width: 100px;   
        color: $secondarycolor;
        border: 1px solid $primarycolor; 
        font-family: inherit;
        background-color: transparent;
        font-size: $fontsize;
        transition-property: color, background-color, border-color;
        transition-duration: 1s;
    }

    &:focus {
        outline:none;
    }
}

.buybutton {
    @extend %cookingbutton;

    &:hover {
        color: $primarycolor;
        background-color: $secondarycolor;
    }
}

.morebutton {
    @extend %cookingbutton;
    color: $primarycolor;

    &:hover {
        color: $secondarycolor;
        background-color: $primarycolor;
        border-color: $secondarycolor;
    }
}