nav {
    button {
        background-color:transparent;
        border: none;
        color:white;
        width:15%;
    }

    ul {
        list-style-type: none;
        padding:0;

        li {
            padding: 8px;
        }
    }
}

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:white;
    z-index:3;

    ul {
        display:flex;
        margin: 0;
        justify-content:flex-end;

        li {

            a {
                text-decoration:none;
                color:inherit;
            }
        }
    }
}

////
