.topnav {
    position:fixed;
    top: 0;
    width: 100%;
    background-color:white;
    z-index:3;
    ul {
        list-style-type: none;
        padding:0;
        display:flex;
        margin: 0;
        justify-content:flex-end;

        li {
            padding: 8px;
            a {
                text-decoration:none;
                color:inherit;
            }
        }
    }
}

////

.topnav {
    display: none;
    width:100%;
    height:36px;
    position:fixed;
    top:0;
    left:0;
    background-color: #4B86CB;
    z-index: 3;
    justify-content: flex-start;
    
    button {
        background-color:transparent;
        border: none;
        color:white;
        width:15%;

        i {
            position:relative;
            z-index: 7;
        }
    }
}


.sidenav {
    height: 100%;
    width: 250px;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $secondarybgcolor;

    button {            
        background-color:transparent;
        border: none;
        color:white;
        width:15%;
        position:fixed;
        top:0;
        right:0;
        height:42px;
    }

    h2 {
        margin: 8px;
    }

    ul {
        list-style-type: none;
        padding:0;
        margin-left:15%;

        li {
            padding: 8px;
        }
    }    
}