body {
  margin: 0;
}

p {
  font-size: large;
}

h1, h2 {
  text-align: center;
}

button .buybutton, button .morebutton {
  margin: 4px;
  padding: 5px;
  width: 100px;
  color: #6187d8;
  border: 1px solid #80b380;
  font-family: inherit;
  background-color: transparent;
  font-size: large;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

button:focus {
  outline: none;
}

.buybutton:hover {
  color: #80b380;
  background-color: #6187d8;
}

.morebutton {
  color: #80b380;
}

.morebutton:hover {
  color: #6187d8;
  background-color: #80b380;
  border-color: #6187d8;
}

footer {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #6187d8;
  background-color: #80b380;
  letter-spacing: 1.5px;
  height: 30%;
}

footer .bottomnav {
  margin-bottom: 20px;
  padding: 15px;
}

footer .bottomnav .bottomnav ul {
  padding: 0px;
  margin: 0;
}

footer .contact {
  margin-bottom: 20px;
  padding: 15px;
}

form {
  width: 60%;
  margin: 0 auto;
}

form .fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border: none;
}

form .fieldset .fieldbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px;
}

form .fieldset .fieldbox input {
  background-color: lightblue;
  border: none;
  width: 100%;
  border-radius: 4px;
}

form .fieldset .fieldbox:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
}

form .fieldset .fieldbox:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
}

form .fieldset .fieldbox:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
}

form .fieldset .fieldbox:nth-child(5) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

form .fieldset .fieldbox:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

form .fieldset .fieldbox:nth-child(7) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

form .fieldset .fieldbox:nth-child(6) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

form .fieldset .fieldbox:nth-child(8) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

form .fieldset .fieldbox:nth-child(9) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

form .fieldset .fieldbox:nth-child(10) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

body {
  margin: 0;
}

p {
  font-size: large;
}

h1, h2 {
  text-align: center;
}

nav button {
  background-color: transparent;
  border: none;
  color: white;
  width: 15%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding: 8px;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
}

.topnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.topnav ul li a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 991px) {
  form {
    width: 80%;
  }
  .menuimg {
    display: none;
  }
  .menuflex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .topnav ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .emptydiv {
    display: none;
  }
  .contact, .bottomnav {
    text-align: center;
  }
  .cooking {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
  .cooking h1 {
    font-size: 48px;
    text-align: center;
  }
  .cooking .buttonflex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .cooking {
    width: 90%;
    margin: 0;
  }
  .buttonflex {
    width: 100%;
  }
  form {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .fieldbox:nth-child(n) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .sidenav {
    display: none;
    width: 100%;
  }
  .membersmain {
    margin: 36px 0 0;
  }
  .tempnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .closebtn {
    display: inline;
  }
}

table {
  width: 90%;
  margin: 0 auto;
  border-spacing: 1px 0;
}

table tbody tr:nth-child(odd) {
  background-color: #a0aec0;
}

table th {
  text-align: left;
}

table th,
table td {
  border: 0.5px solid #6187d8;
}

body {
  font-family: 'Lobster', cursive;
  background-color: grey;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: url(cooking.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #6187d8;
}

.banner .cooking {
  width: 30%;
  padding: 25px;
}

.banner .cooking h1 {
  text-align: left;
  font-size: 68px;
  line-height: 0px;
}

.banner .cooking .buttonflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.popular {
  margin-top: 36px;
}

.popular h2 {
  font-size: xx-large;
  line-height: 1.45;
}

.popular .popflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular .popflex .popitem {
  width: 250px;
  padding: 20px;
}

.popular .popflex .popitem img {
  width: 100%;
  border-radius: 50%;
}

.namecost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menuflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menuflex .menuitem {
  width: 250px;
}

.menuflex .menuimg {
  width: 200px;
  background-image: url(chef.webp);
  background-repeat: no-repeat;
  background-size: 200px 100%;
}

body {
  font-family: sans-serif;
}

body h1, body h2 {
  color: #6187d8;
}

body header {
  color: #C5DEEA;
}

body header .tempnav {
  display: none;
  width: 100%;
  height: 36px;
  background-color: #4B86CB;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 3;
}

body header .tempnav i {
  position: relative;
  z-index: 7;
}

body header .sidenav {
  height: 100%;
  width: 250px;
  z-index: 5;
  background-color: #4B86CB;
}

body header .sidenav button {
  position: fixed;
  top: 0;
  right: 0;
  height: 42px;
}

body header .sidenav h2 {
  margin: 8px;
}

body header .sidenav ul {
  margin-left: 15%;
}

body main {
  margin-left: 250px;
}
/*# sourceMappingURL=main.css.map */