body {
    font-family:'Lobster', cursive;
    background-color:grey;
    margin: 0;
}

section p {
    font-size:large;
}

nav ul {
    list-style-type: none;
    padding:0;
}

.topnav li {
    padding: 8px;
}
li a {
    text-decoration:none;
    color:inherit;
}

button {
    font-family: inherit;
    margin:4px;
    padding: 5px;
    width: 100px;
    background-color: transparent;
    color: rgb(97, 135, 216);
    border: 1px solid rgb(128, 179, 128);
    font-size: large;
    transition-property: color, background-color, border-color;
    transition-duration: 1s;
}

button:focus {
    outline:none;
}

.buybutton:hover {
    color: rgb(128, 179, 128);
    background-color: rgb(97, 135, 216);
}

.morebutton:hover {
    color: rgb(97, 135, 216);
    background-color: rgb(128, 179, 128);
    border-color: rgb(97, 135, 216);
}

.topnav {
    position:fixed;
    top: 0;
    width: 100%;
    background-color:white;
    z-index:10;
}

.topnav ul {
    display:flex;
    margin: 0;
    justify-content:flex-end;
}

#home {
    display:flex;
    justify-content:space-evenly;
    background-image: url(cooking.jpg);
    background-position:center top;
    background-size:cover;
    background-repeat:no-repeat;
    color:rgb(97, 135, 216);
}

section h1 {
    text-align:left;
    font-size:68px;
    line-height: 0px;
}

section h2 {
    font-size:xx-large;
    line-height:1.45;
    text-align:center;
}

.cooking {
    width:30%;
    padding:25px;
}

.buttonflex {
    display:flex;
    justify-content:flex-start;
    flex-wrap:nowrap;
}

.morebutton {
    color: rgb(128, 179, 128);
}

#popular {
    margin-top:36px;
}

.popflex {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.popitem {
    width:260px;
    padding:15px;
}

.popitem img {
    width:100%;
    border-radius:50%;
}

.namecost {
    display: flex;
    justify-content: space-between;
}

.menuflex {
    display: flex;
    justify-content: space-evenly;
}

.menuitem {
    width:250px;
}

.menuimg {
    width:200px;
    background-image: url(chef.webp);
    background-repeat:no-repeat;
    background-size: 200px 100%;
}

footer {
    text-align:left;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    color:rgb(97, 135, 216);
    background-color:rgb(128, 179, 128);
    letter-spacing:1.5px;
    height:30%;
}

.bottomnav {
    margin-bottom: 20px;
    padding:15px;
}

.bottomnav ul {
    padding:0px;
    margin:0;
}

.contact {
    margin-bottom: 20px;
    padding:15px;
}




/* --575
576-767
768-991
992-1199
1200+ */


@media (max-width:991px) {
    .menuimg {
        display:none;
    }
    .menuflex {
        flex-wrap:wrap;
    }
}

@media (max-width:767px) {
    .topnav ul {
        justify-content:space-evenly;
    }
    .emptydiv {
        display:none;
    }
    .contact, .bottomnav {
        text-align:center;
    }
    .cooking {
        width: 40%;
        margin: 0 auto;
        text-align:center;
    }
    .cooking h1 {
        font-size:48px;
        text-align:center;
    }
    .buttonflex {
        justify-content:center;
        flex-wrap:wrap;
        margin: 0 auto;
    }
}

@media (max-width:575px) {
    .cooking {
        width: 90%;
        margin: 0;
    }
    .buttonflex {
        width:100%;
    }
}
